<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
        <meta name="title" content="Shadow Bot List">
        <meta name="description" content="A propos de nous">
        <meta name="keywords" content="Discord,Discord Bot,Discord Bots,shadow-bot,DBC,Discord Bot List,discord boats,boats,shadow-bot.com,dboats,dbots,dbot,bots,list,directory,bot list">
        <meta property="og:site_name" content="shadow-bot.com">
        <meta name="theme-color" content="#90CAF9">
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
		<div class="main">
            <div class="container">
                <h3 style="color: #7289DA;font-family: 'Nunito', sans-serif;font-size: 38px;">A propos de nous</h3>
               
                <p>Shadow Bot List est un site qui propose de mettre en avant vos bot, rapidement et efficassement, car vos bots sont classer par des catégories</p>
   
	

  </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
