<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
     
        <meta name="theme-color" content="#7289DA">
        <meta name="title" content="Shadow Bot List">
        <meta name="description" content="Shadow Bot List - Découvrez de nouveaux bots">
        <meta name="keywords" content="discord,shadow,Discord,Shadow,bot list,Bot list,Bot List,Bot,bot,shadow bot,Shadow bot,Shadow Bot,shadow Bot,BOT">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta property="og:title" content="Shadow Bot List">
        <meta property="og:url" content="http://shadow-bot.com/">
        <meta property="og:description" content="Partez à l'aventure en découvrant des bots inédits pour vos serveurs Discord">
        <meta property="og:image" content="https://zupimages.net/up/20/26/yh2b.png">

        <meta name="twitter:card" value="summary">
        <meta name="twitter:title" content="Shadow Bot List">
        <meta name="twitter:description" content="Partez à l'aventure en découvrant des bots inédits pour vos serveurs Discord">
        <meta name="twitter:image" content="https://zupimages.net/up/20/26/yh2b.png">

      
        
        <script data-ad-client="ca-pub-5953226090088561" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

     
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    </head>
<style>

    p{
        font-family: 'Quicksand', sans-serif;
    }

    html{
        font-family: 'Quicksand', sans-serif;
    }


body{
    font-family: 'Quicksand', sans-serif;
}

#discord{
    transition: 0.5s;
}

#discord:hover{
    transform: rotate(-360deg);
}

#but{
  background: linear-gradient(to right, #424242 50%, #7289DA 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: 0.5s;
}

#but:hover{
background-position: left bottom;
}

      .tagsinfo{
        margin-bottom:20px;margin-left: 5px;padding: 1px;display:inline-block;font-size: 13px;font-weight: 500;
      }

      .tags{
           border: solid 0px #f1f2f6;border-radius: 10px;min-height: 70px;max-height:350px;width: 100%;
            padding: 0px 10%;margin-bottom: 25px;
        }

        .tagslist{
                margin-left: 5px;padding: 1px;display:inline-block;font-size: 13px;font-weight: 500;margin-top: 10px;margin-bottom: 10px;
              }
      
             
          

</style>
 

    <body >

        <div class="header">
           
            <%- include("parts/header") %>
            
                
          


        </div>    
        </div>
        </div>
       
         <div class="main ">
            
            <div  class="container">

                <div class="center-align">


                    <div style="padding: 15px;">

                     
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Center;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">CONDITIONS GÉNÉRALES</span><br><br>Les présentes conditions générales régissent l’utilisation de ce site <span style="font-style:italic;font-weight:normal;">www.shadow-bot.com</span>.<br>Ce site appartient et est géré par Piochi<br>En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.<br><br>Type de site : Référencement
                        </p><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Propriété intellectuelle</span><br><br>Tout contenu publié et mis à disposition sur ce site est la propriété de Piochi et de ses créateurs. Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Restrictions d'âge</span><br><br>L’âge minimum pour utiliser ce site est de 15 ans. Les utilisateurs conviennent qu’en utilisant notre site, ils ont plus de 15 ans. Nous n’assumons aucune responsabilité juridique pour les fausses déclarations sur l’âge.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Utilisation acceptable</span><br><br>En tant qu’utilisateur, vous acceptez d’utiliser notre site légalement et de ne pas utiliser ce site pour des fins illicites, à savoir :
                        </p>
                        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;list-style:disc;">
                            <li style="margin-bottom:18.0pt;" value="1"><span>Harceler ou maltraiter les autres utilisateurs du site</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:18.0pt;" value="2"><span>Violer les droits des autres utilisateurs du site</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:18.0pt;" value="3"><span>Violer les droits de propriété intellectuelle des propriétaires du site ou de tout tiers au site</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:18.0pt;" value="4"><span>Pirater le compte d’un autre utilisateur du site</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:18.0pt;" value="5"><span>Participer à toute activité illégale sur le site</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:0.0pt;" value="6"><span>Afficher tout matériel qui peut être jugé inapproprié ou offensant</span><span style="color:#dedede;"><br></span>
                            </li>
                        </ul>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Si nous estimons que vous utilisez ce site illégalement ou d’une manière qui viole les conditions d’utilisation acceptable ci-dessus, nous nous réservons le droit de limiter, suspendre ou résilier votre accès à ce site. Nous nous réservons également le droit de prendre toutes les mesures juridiques nécessaires pour vous empêcher d’accéder à notre site.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contributions d'utilisateur</span><br><br>Les utilisateurs peuvent publier les informations suivantes sur notre site :
                        </p>
                        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;list-style:disc;">
                            <li style="margin-bottom:18.0pt;" value="1"><span>Photos</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:0.0pt;" value="2"><span>Commentaire du public</span><span style="color:#dedede;"><br></span>
                            </li>
                        </ul>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">En affichant publiquement sur notre site, vous acceptez de ne pas agir illégalement ou violer les conditions d’utilisation acceptable énumérées dans ce document.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Comptes</span><br><br>Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
                        </p>
                        <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;list-style:decimal;">
                            <li style="margin-bottom:18.0pt;" value="1"><span>que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte, et</span><span style="color:#dedede;"><br></span>
                            </li>
                            <li style="margin-bottom:0.0pt;" value="2"><span>que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.</span><span style="color:#dedede;"><br></span>
                            </li>
                        </ol>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Ventes des biens et services</span><br>Ce document régit la vente des biens mis à disposition sur notre site.
                        </p>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Les biens que nous offrons comprennent : 
                        </p>
                        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;list-style:disc;">
                            <li style="margin-bottom:0.0pt;" value="1"><span>Abonnement</span><span style="color:#dedede;"><br></span>
                            </li>
                        </ul>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Les biens liés à ce document sont les biens qui sont affichés sur notre site au moment où vous y accédez. Cela comprend tous les produits énumérés comme étant en rupture de stock. Toutes les informations, descriptions ou images que nous fournissons sur nos biens sont décrites et présentées avec la plus grande précision possible. Cependant, nous ne sommes pas légalement &nbsp;tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons. Vous acceptez d’acheter ces biens à vos propres risques.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:italic;font-weight:normal;">Vendus par des tiers</span><br><br>Notre site peut offrir des biens de sociétés tierces. Nous ne pouvons pas garantir la qualité ou l’exactitude des biens mis à disposition par des tiers sur notre site.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Paiements</span><br><br>Nous acceptons les modes de paiement suivants sur ce site : 
                        </p>
                        <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;list-style:disc;">
                            <li style="margin-bottom:0.0pt;" value="1"><span>PayPal</span><span style="color:#dedede;"><br></span>
                            </li>
                        </ul>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Lorsque vous nous fournissez vos renseignements de paiement, vous nous confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument de paiement que vous avez choisi d’utiliser. En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement.<br><br>Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons le droit d’annuler votre transaction.
                        </p>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:italic;font-weight:normal;">Abonnements</span><br><br>Votre abonnement ne se renouvelle pas automatiquement. Vous serez informé avant votre prochain paiement afin de poursuivre votre abonnement.
                        </p>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Si vous souhaitez annuler vos abonnements, veuillez suivre ces étapes&nbsp;:<br><br>L'annulation de l'abonnement premium entrainera l'annulation des avantages attribuer avec l'abonnement seulement à partir de la date d'expiration de l'abonnement.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Remboursement</span><br><br><span style="font-style:italic;font-weight:normal;">Remboursement des biens</span>
                        </p>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;">Tous les biens vendus sur notre site sont non remboursables.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Limitation de responsabilité</span><br><br>Piochi ou l’un de ses employés sera tenu responsable de tout problème découlant de ce site. Néanmoins, Piochi et ses employés ne seront pas tenus responsables de tout problème découlant de toute utilisation irrégulière de ce site.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnité</span><br><br>En tant qu’utilisateur, vous indemnisez par les présentes Piochi de toute responsabilité, de tout coût, de toute cause d’action, de tout dommage ou de toute dépense découlant de votre utilisation de ce site ou de votre violation de l’une des dispositions énoncées dans le présent document.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Lois applicables</span><br><br>Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l’échelle de l’UE énoncée dans le RGPD.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Divisibilité</span><br><br>Si, à tout moment, l’une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions seront considérées comme nulles et seront retirées du présent document. Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Modifications</span><br><br>Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir le respect de la loi et de refléter tout changement à la façon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur notre site. Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps à autre pour s’assurer qu’ils sont informés de toute mise à jour. Au besoin, nous informerons les utilisateurs par courriel des changements apportés à ces conditions ou nous afficherons un avis sur notre site.
                        </p></div><div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact</span><br><br>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :<br><br>support@shadow-bot.com
                        </p></div>
                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:'Quicksand', sans-serif;color:#dedede;text-align:Right;"><span style="font-style:italic;font-weight:normal;">Date d'entrée en vigueur : </span>le 26 octobre 2020.
                        </p></div>


                    </div>
       
        
        </div>
        </div>


        
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167774016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167774016-1');
</script>
</html>
