<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <iframe 
                src="https://shadow-bot.comeshstatus.io/"
                width="100%" height="500" style="border: none;"
                sandbox >
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
