<style>
    @media only screen and (min-width: 100px){
.row .col.m3 {
    width: 75%;
    padding: 0px 10%;
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
}}
    @media only screen and (min-width: 601px){
.row .col.m3 {
    width: 50%;
    padding: 0px 0px;
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
}}

@media only screen and (min-width: 850px){
.row .col.m3 {
    width: 40%;
    padding: 0px 0px;
    margin-left: auto;
    left: auto;
    right: auto;
}}


@media only screen and (min-width: 1000px){
.row .col.m3 {
    width: 30%;
    padding: 0px 0px;
    margin-left: auto;
    left: auto;
    right: auto;
}}

@media only screen and (min-width: 1250px){
.row .col.m3 {
    width: 25%;
    padding: 0px 0px;
    margin-left: auto;
    left: auto;
    right: auto;
}}

.darken-1{
    background-color: #a872da !important;
}


.btn-p{
    background-color: white;
    border: solid 2px white;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    color: #2C2F33;
    cursor: pointer;
    box-shadow: 0px 0px 0px;
}

.btn-p:hover{
    background-color: #2C2F33;
    color: white;
    border: solid 2px #2C2F33;
}
</style>






<div  class="col s12 m3 col-md-6 col-lg-4 align-center" >
            <div style="min-width: 19.5rem;max-width: 19.5rem;min-height: 30rem;max-height: 33rem ; max-length: 18rem; border-radius: 10px;background-color: #7289DA;"  class="card-color card hoverable darken-1  col-lg-2 col-md-3 col-sm-4 col-6 " > 
               
                <div class="card-image bot-image-container">
                    <a href=""><img style="border-radius: 15px;" src="https://cdn.discordapp.com/attachments/708013329603624970/717124521823305789/Sans_titre_61.png" class="bot-image" alt="Bot Profile Picture"></a>
                </div>
                <div class="card-content white-text">
                    <span  class="card-title">
                        Exemple 
                        
                            
                        
                        </span>
                    <p style="color: #E5E5E3;margin-bottom: 15px;margin-top: 15px;font-size: 14px;" class="bot-card-desc">
                        Voici un exemple de bot premium , vous voulez vous aussi que votre bot soit mis en avant alors prenez notre offre Premium
                    </p>
                    
                    
                    <br>
                   <div class="center-align">
                  
                    </div>
        
                    
                </div>
                
               <div style="margin-top: 0px;margin-bottom: auto;" class="card-btn center-align" >
                
                        
                  
                        <a href="/premium"><button type="button"  class="btn-p">Voir</button></a>
                  
                
           
                </div>
            </div>
        </div>